<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tu médico a cerrado tu último chat de consulta</title>
  </head>
  <body>
    <div style="background-color: #FFFFFF; margin: 0; min-width: 320px; padding: 0; text-align: center;">
      <div align="center" style="margin: 0 auto; max-width: 667px; min-width: 320px;" width="100%">
        <div style="color: #333333; font-family: verdana, verdana, sans-serif;">
          <p style="font-size: .6em; margin: 0;">Si no puedes ver este mensaje correctamente haz click <a href="#" style="color: #666666;" target="_blank">aquí</a></p>
          <div style="background-image: url(https://kidokapp.s3.us-east-2.amazonaws.com/multimedia/13132019/9/16/KIDOK-FONDO2.PNG); background-size: cover; display: block; height: auto; width: 90%; padding-top: 20px; padding-bottom: 50px;">
            <img src="https://kidokapp.s3.us-east-2.amazonaws.com/multimedia/772019/9/16/KIDOK_COLOR.PNG" alt="Logo" style="display: block; width: 30%; height: auto; margin: 0 auto;">
            <div style="display: block; height: auto; margin: 0; width: 90%;">
              <p style="color: #000; font-size: 2.2em; font-weight: 100; margin: 0; padding: 30px 0"><strong style="">Consulta finalizada</strong></p>
            </div>
            <div style="background-color: #FF4282; color: #fff; display: block; height: auto; width: 90%; border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;">
              <p style="font-size: 1em; margin: 0; padding: 30px 30px">Tu médico <strong>${medico.nombreCompleto}</strong>
                ha dado por concluido el chat de consulta.
              </p>
              <div style="background-color: #FFFFFF; border-radius: 20px; color: black; padding: 40px 0; display: block; height: auto; width: 100%; -webkit-box-shadow: 0px 12px 22px 0px rgba(227,227,227,1); -moz-box-shadow: 0px 12px 22px 0px rgba(227,227,227,1); box-shadow: 0px 12px 22px 0px rgba(227,227,227,1);">
                <div style="color: black; display: block; height: auto; width: 100%;">
                  <p style="margin: 30px 0 0 0; width: 90%;">
                    Recuerda que en el chat personalizado de Kidok<span style="font-size: xx-small; vertical-align: text-top;">&#174;</span>
                    encuentra este y el historial de todos tus chats de consultas.
                  </p>
                </div>
                <div align="center" style="background-color: #FFFFFF; display: block; height: auto; padding: 40px 0;">
                  <a href="http://www.kidokapp.com/portal/pacientes/login.html" style="color: black; text-decoration: none;" target="_blank">
                    <p style="background-color: #FF4282; border: 2px solid #FF4282; border-radius: 15px; text-transform: uppercase; color: #FFFFFF; font-size: .9em; font-weight: bold; margin: 0; padding: 8px; width: 55%">
                      Ir al resumen del chat
                    </p>
                  </a>
                </div>
                <p style="font-size: 1em; margin: 0; padding: 25px 30px;">En caso de tener alguna duda sobre el funcionamiento de nuestra
                  plataforma, contáctanos en <strong><a style="color: #FF4282; text-decoration: none;" href="mailto:contacto@kidokapp.com?Subject=Necesito%20información%20sobre%20kidok" target="_blank">contacto@kidokapp.com</a></strong>
                </p>
                <img src="https://kidokapp.s3.us-east-2.amazonaws.com/multimedia/12122019/9/16/EMAIL.PNG" alt="Logo" style="display: block; width: 6%; height: auto; margin: 0 auto 25px;">
                <hr style="border-color: #FF4282; width: 90%">
                <div style="display: block; width: 90%">
                  <div align="center" style="display: inline-grid; margin-top: 15px; width: 78%">
                    <strong><a href="http://www.kidokapp.com/publico/terminos.html" target="_blank" style="color: #211742; font-size: .8em; margin: 0; text-decoration: none;">Términos y condiciones</a></strong>
                  </div>
                </div>
                <p style="font-size: .6em; margin: 0px; margin-top:15px">&#169; 2019 Kidok. Todos los derechos reservados. </p>
                <p style="font-size: .6em; margin: 0; color: #333333;">Este correo fue enviado para <a href="#" target="_blank" style="margin: 0; color: #333333; text-decoration: none;">${paciente.correoElectronico}</a>.</p>
                <p style="font-size: .6em; margin: 0;">Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic
                  <a href="#" style="color: #666666;" target="_blank">aquí</a>.
                </p>
                <p style="font-size: .6em; margin: 0; width: 90%">
                  Este mensaje de correo electrónico se ha enviado desde una dirección exclusivamente para envíos.
                  No responda a este mensaje.
                </p>
                <div align="center" style="display: inline-grid; margin: 30px 0 0; width: 90%">
                  <div style="display: block;">
                    <a href="https://web.whatsapp.com/send?phone=5215534750283" target="_blank" title="¡Escríbenos tus comentarios!"><img src="https://kidokapp.s3.us-east-2.amazonaws.com/multimedia/17172019/9/16/ICON-WHATSAPP-PACIENTE.PNG" alt="whatsapp" style="display: inline-grid;"></a>
                    <a href="https://www.facebook.com/kidokapp/" target="_blank" title="¡Síguenos en facebook!"><img src="https://kidokapp.s3.us-east-2.amazonaws.com/multimedia/14142019/9/16/ICON-FACEBOOK-PACIENTE.PNG" alt="facebook" style="display: inline-grid;"></a>
                    <a href="https://www.instagram.com/kidokapp/" target="_blank" title="¡Siguenos en instagram!"><img src="https://kidokapp.s3.us-east-2.amazonaws.com/multimedia/15152019/9/16/ICON-INSTAGRAM-PACIENTE.PNG" alt="instagram" style="display: inline-grid;"></a>
                    <a href="#" target="_blank" title="¡Conoce a nuestro equipo!"><img src="https://kidokapp.s3.us-east-2.amazonaws.com/multimedia/16162019/9/16/ICON-LINKEDIN-PACIENTE.PNG" alt="linkedin" style="display: inline-grid;"></a>
                  </div>
                </div>
                <a href="http://www.kidokapp.com/" target="_blank">
                  <img src="https://kidokapp.s3.us-east-2.amazonaws.com/multimedia/772019/9/16/KIDOK_COLOR.PNG" alt="Logo" style="display: block; width: 30%; height: auto; margin: 30px auto 0;">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
